@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



.secondnav{
    display: flex;
    /* align-items: center; */
    height:40px;
    background-color:rgb(40, 50, 72);
    font-family : "Poppins", sans-serif;
}
.secondnav .element1{
    padding:4px 11px;
}
.secondnav .element1 button{
    background-color:rgb(40, 50, 72) ;
    border-style: none;
}
.secondnav .element1 svg{
    position: relative;
    top:2px;
}
.secondnav .element1 span{
    color:white;
    font-weight: 700;
    font-size: 14px;
    position: relative;
    bottom: 3px;
    right: 1px;
}
.secondnav .element2 {
    display: flex;
    
}
.secondnav .element2{
    display:flex;
}
.secondnav .element2 .do{
    padding:6px;
}
.secondnav .element2 .do button{
    background-color:rgb(40, 50, 72) ;
    border-style: none;
    color: white;
}
.secondnav .element2 .do button span{
    font-weight: 400;
    font-size: 14px;
    position: relative;
    top: 3px;
}
.secondnav .element2 .do button svg{
    position: relative;
    top: 7px;
}
.secondnav .element2 .tin{
    padding: 6px;
}
.secondnav .element2 .tin a{
    text-decoration: none;
    color:white;
    font-weight: 400;
    font-size: 14px;
    position: relative;
    top:3px;
}
.secondnav .element2 .char{
    padding:6px;
}
.secondnav .element2 .char a{
    text-decoration: none;
    color:white;
    font-weight: 400;
    font-size: 14px;
    position: relative;
    top:3px;
}
.secondnav .element2 .five{
    padding:6px;
}
.secondnav .element2 .five a{
    text-decoration: none;
    color:white;
    font-weight: 400;
    font-size: 14px;
    position: relative;
    top:3px;
}
.secondnav .element2 .six{
    padding:6px;
}
.secondnav .element2 .six a{
    text-decoration: none;
    color:white;
    font-weight: 400;
    font-size: 14px;
    position: relative;
    top:3px;
}
.secondnav .element2 .seven{
    padding:6px;
}
.secondnav .element2 .seven a{
    text-decoration: none;
    color:white;
    font-weight: 400;
    font-size: 14px;
    position: relative;
    top:3px;
}
.secondnav .element2 .eight{
    padding:6px;
}
.secondnav .element2 .eight a{
    text-decoration: none;
    color:white;
    font-weight: 400;
    font-size: 14px;
    position: relative;
    top:3px;
}
.secondnav .element2 .nine{
    padding:6px;
}
.secondnav .element2 .nine a{
    text-decoration: none;
    color:white;
    font-weight: 400;
    font-size: 14px;
    position: relative;
    top:3px;
}
.secondnav .element2 .ten{
    padding:6px;
}
.secondnav .element2 .ten a{
    text-decoration: none;
    color:white;
    font-weight: 400;
    font-size: 14px;
    position: relative;
    top:3px;
}
.secondnav .element2 .eleven{
    padding:6px;
}
.secondnav .element2 .eleven a{
    text-decoration: none;
    color:white;
    font-weight: 400;
    font-size: 14px;
    position: relative;
    top:3px;
}
.secondnav .element2 .twelve{
    padding:6px;
}
.secondnav .element2 .twelve a{
    text-decoration: none;
    color:white;
    font-weight: 400;
    font-size: 14px;
    position: relative;
    top:3px;
}

.secondnav .element3{
    font-size: 14px;
    padding:10px 2px 10px 31px;;
    position: relative;
    left: 31px;
}
.secondnav .element3 a{
    text-decoration: none;
    color:white; 
}
